# Jarvis Linear OAuth & Webhooks
export LINEAR_OAUTH_TOKEN="lin_oauth_token_for_mcp"
export LINEAR_WEBHOOK_SECRET="lin_webhook_secret"
# export LINEAR_DIRECT_WEBHOOKS=true


# CloudFlare Proxy
export PROXY_URL=https://cyrus-proxy.ceedar.workers.dev
# export CYRUS_HOST_EXTERNAL=true

# Ngrok
export NGROK_AUTH_TOKEN="ngrok_auth_token"
